<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/profile.css">
  <link rel="stylesheet" href="./stylesheets/flash-msg.css">
  <script src="./javascripts/error.js" defer></script>
</head>

<body>
  <div class="profile-container">
    <a href="/logout">Logout</a>
    <h1>Profile page</h3>
      <div class="content-profile-page">
        <div class="img-profile">
          <img class="avatar" src="./images/uploads/21722b1a-9027-4913-bb80-5a12533dd6df.png" alt="user-avatar" />
        </div>
        <div class="profile-data">
          <h1>
            <%= user.fullname%>
          </h1>
          <p class="user-data">
            @<%= user.username%>
          </p>
          <p class="user-data">
            Tagline'hello everyone'
          </p>
          <p class="user-data">
            i am a developer who... <span style="font-size: 12px;">more</span>
          </p>
          <a class="feed" href="/feed">
            Feed
          </a>
          <div class="upload-button">
            <% if(error.length> 0){ %>
              <div class="error">
                <p style="font-size: 16px; margin: 0;">
                  <%= error %>
                </p>
                <i class="cross-btn bi bi-x">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                  </svg></i>
              </div>
              <%}%>
                <form action="/upload" method="post" enctype="multipart/form-data">
                  <input type="file" name="post_img" id="post-img">
                  <input type="text" name="post_caption" id="post-caption" placeholder=" Enter Caption"
                    style="color: black; outline: none;">
                  <button type="submit">Upload</button>
                </form>
          </div>
        </div>
      </div>
  </div>

  <hr style="color: rgb(75, 75, 75);">

  <div class="container">
    <div class="cards">
      <% user.posts.forEach(function(post){ %>
        <div class="card">
          <img
            src="../images/uploads/<%= post.post_img%>"
            class="card-img-top" alt="watch">
          <div class="card-body">
            <p class="card-text"><%= post.post_caption %></p>
          </div>
        </div>
      <% }) %>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>